/* Write your CSS here */
.ipl-list {
  list-style-type: none;
  width: 50%;
}
.team-card-container {
  background-color: #ffffff33;
  height: 20vh;
  width: 90%;
  background-size: cover;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;

  padding: 10px;
  border-radius: 20px;
}
.team-image {
  height: 90px;
  margin: 10px;
}
.ipl-team-heading {
  font-size: 30px;
  font-weight: bold;
  font-family: 'bree-sherif';
  align-self: center;
}
.link {
  text-decoration: none;
  color: #ffffff;
}
